@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply min-h-[200px] p-4 focus:outline-none;
}

.ProseMirror > * + * {
  @apply mt-4;
}

.ProseMirror ul,
.ProseMirror ol {
  @apply pl-4;
}

.ProseMirror ul {
  @apply list-disc;
}

.ProseMirror ol {
  @apply list-decimal;
}

.ProseMirror h1 {
  @apply text-3xl font-bold;
}

.ProseMirror h2 {
  @apply text-2xl font-bold;
}

.ProseMirror h3 {
  @apply text-xl font-bold;
}

.ProseMirror blockquote {
  @apply pl-4 border-l-4 border-gray-300 italic;
}

.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-gray-400;
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
}
